name: Node.js CI

on:
  push:
    branches: [main]

jobs:
  deploy-lambda:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x]

    steps:
      - uses: actions/checkout@v2
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      - name: config aws credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-central-1
      - name: npm install
        env:
          CI: true
        run: |
          npm ci
      - name: deploy
          run: |
            npx ncc build index.js
            zip -j deploy.zip ./index.js ./helloWorld.js
            aws lambda update-function-code --function-name=hello-world-lambda-fn --zip-file=fileb://deploy.zip

